.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #8DA3FE;
}

.nav-item {float: left;
}

.nav-link {
	transition: background-color 1s;
	color: white;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-style: italic;
	font-weight: bold;


}

.nav-link:hover {
	background-color: #B0BEFF;
}
